In [220]:
import pandas as pd
import numpy as np

filetoload = "HeroesOfPymoli_Resources_purchase_data.csv"

df = pd.read_csv(filetoload)

print(df)

     Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male       92
779          779      Ennrian78   24    Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
775                                       Wolf   3.54
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[780 rows x 7 columns]

In [221]:
#Display the total number of players

total_players = df['SN'].nunique()

total_numbers = [{"Total Players": total_players}]
total_numbers = pd.DataFrame(total_numbers)
total_numbers

   Total Players
0            576

In [222]:
#Run basic calculations to obtain number of unique items, average price, etc.
items = df['Item ID'].nunique()

average = df["Price"].mean()
#average = df[average].map('${:,.2f}'.format)

purchase = df['Purchase ID'].count()

revenue = df['Price'].sum()
 

#Create a summary data frame to hold the results
summary_data = [{"Number of Unique items": items, "Average Price": average, "Number of Purchases": purchase, "Total Revenue": revenue}]
summary_data = pd.DataFrame(summary_data)
summary_data

summary_data.style.format({"Average Price": "${:,.2f}","Total Revenue": "${:,.2f}"})

In [223]:
#Count of Male, Female, Other Players
count = df.groupby("Gender")["SN"].nunique()
# print(count)

#Percentage of Male, Female, Other Players
percentage = df["Gender"].value_counts(normalize=True)*100
# print(percentage)

#Create a summary data frame to hold the results
summary_data1 = {'Total Count': count,'Percentage of Players': percentage}
summary_data1 = pd.DataFrame(summary_data1)
summary_data1

summary_data1.style.format({"Percentage of Players": "{:,.2f}%"})

In [250]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
pcount = df.groupby("Gender")["Purchase ID"].count()
avpprice = df.groupby("Gender")["Price"].mean()
totalpvalue = df.groupby("Gender")["Price"].sum()
avgtotalbyperson = [totalpvalue/count]

#Create a summary data frame to hold the results
summary_data2 = {'Purchase Count': pcount, 'Average Purchase Price': avpprice, 'Total Purchase Value': totalpvalue,'Average Total Purchase per Person': avgtotalbyperson}
summary_data2 = pd.DataFrame(summary_data2)

summary_data2.index.name = "Gender"
summary_data2

#Optional: give the displayed data cleaner formatting
summary_data2.style.format({"Average Purchase Price": "${:,.2f}","Total Purchase Value": "${:,.2f}","Average Total Purchase per Person": "${:,.2f}"})

#Display the summary data frame

ValueError: array length 1 does not match index length 3

In [239]:
# Establish bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 999]
label = ["<10", '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Categorize the existing players using the age bins. Hint: use pd.cut()
df['Age Group'] = pd.cut(df['Age'], bins, labels=label)
agegroup = df.groupby('Age Group')

# Calculate the numbers and percentages by age group
agecount = agegroup["SN"].nunique()
agepercent = (agecount/total_players) * 100

# Create a summary data frame to hold the results
summary_data3 = {'Total Count': agecount,'Percentage of Players': agepercent}
summary_data3 = pd.DataFrame(summary_data3)
summary_data3
# Optional: round the percentage column to two decimal points
summary_data3.style.format({"Percentage of Players": "{:,.2f}%"})

# Display Age Demographics Table

In [251]:
# # Bin the purchase_data data frame by age
# bins = [0, 9, 14, 19, 24, 29, 34, 39, 999]
# label = ["<10", '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# df['Age Ranges'] = pd.cut(df['Age'], bins, labels=label)
# ageranges = df.groupby('Age Ranges')

# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
purchasecount = agegroup["Purchase ID"].count()
avpurchaseprice = agegroup["Price"].mean()
totalpurchasevalue = agegroup["Price"].sum()
avpurchasetotalperperson = totalpurchasevalue/agecount

# Create a summary data frame to hold the results
summary_data4 = {'Purchase Count': purchasecount,'Average Purchase Price': avpurchaseprice, 'Total Purchase Value': totalpurchasevalue, 'Average Total Purchase per Person': avpurchasetotalperperson}
summary_data4 = pd.DataFrame(summary_data4)
summary_data4
# Optional: give the displayed data cleaner formatting
summary_data4.style.format({'Average Purchase Price': '${:,.2f}','Total Purchase Value': '${:,.2f}','Average Total Purchase per Person': '${:,.2f}'})


# Display the summary data frame